.carousel { 
    position: relative; 
    overflow: hidden; 
    padding: 12px 10px; 
    background: #fff;
}
.carousel-track { 
    display: flex; 
    transition: transform .5s ease; 
}
.carousel-slide { 
    min-width: 100%; 
    flex-shrink: 0; 
    height: 140px; 
    background-size: cover; 
    background-position: center; 
    border-radius: 6px; 
}
@media(min-width:700px) { 
    .carousel-slide { 
        height: 220px; 
    } 
}